*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: flex-end;
    margin: 32px 32px;
}

nav{
    display: flex;
    gap:16px;
}

a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
}


/* main section start */

img{
    width: 272px;
    height: 92px;
    margin-top: 256px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
}

.search-bar{
    display: flex;
    width: 638px;
    height: 44px;
    padding: 8px 32px;
    background: #f7f7f7;
    border: 1px solid #cccccc;
    border-radius: 24px;
    font-size: 21px;
}

.button-container{
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 16px;
}

.search-button{
    padding: 8px 24px;
    background: #f7f7f7;
    border: 1px solid #cccccc;
    
}




/* advance page styleing */

#adv-page-m{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

#adv-page-m > div{
    width: 100%;
    color: red;
    border-bottom: 1px solid black;
    padding-left: 64px;
    padding-bottom: 32px;
    margin-bottom: 32px;
    font-size: 36px;
}

#adv-page-m > form{
    padding-left: 64px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
}


#adv-page-m > form > div{
    display:grid;
    grid-template-columns: 300px auto;
    gap: 64px;
    align-items: center;
}

#adv-page-m > form > div > label{
    font-size: 18px;
}

#adv-page-m > form > div > input{
    height: 34px;
    width: 572px;
    border: 1px solid #cccccc;
}

.adv-search{
    color:white;
    background-color: #357ae8;
    font-size: 18px;
    padding: 4px 16px;
}

